@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');



/*
    https://clamp.font-size.app/
    font-size: clamp(1rem, 0.2289rem + 3.8554vw, 3rem);
*/

:root {

    --header-height: 5rem;
    --mau-trang:#fff;
    --mau-trang-nhat:#f0f0f0;
    --mau-den:#0c0c0c;
    --mau-den-nhat:#111;
    --mau-xanh:#64ccc5;
    --mau-xam:#dfdfdf;
    --mau-xam-nhat:#f4f4f4;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.25rem;/* 1 rem =16px*/
    --big-font-size: 2rem;
    /* --h1-font-size: 1.5rem; */
    --h1-font-size:clamp(2rem, 1.6444rem + 1.7778vw, 3rem);
    --h2-font-size: clamp(1.25rem, 0.9833rem + 1.3333vw, 2rem);;
    --h3-font-size: clamp(1rem, 0.8222rem + 0.8889vw, 1.5rem);
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;   
    --font-bold: 700;  


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;


}

/*=============== Reset ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	scroll-behavior: smooth;
}

html, body {

    font-family: var(--body-font); 
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

body {
    background-color: var(--mau-trang);
    font-family: "Roboto Serif", serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    /* width: 100%; */
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 1220px;
    margin-inline: 1.5rem;
}
  
.grid {
    display: grid;
    gap: 2.5rem;
}
  
.section {
    padding-block: 5rem 1rem;
}
  
.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}
  
.main {
    overflow: hidden; /* For animation ScrollReveal */
}
  
button {
    border: none;
}

.btn {
    color:var(--mau-den);
    background-color: var(--mau-trang-nhat);
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: background-color .5s , color .5s ;
    /* box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000; */
    
    box-shadow: 0px 6px 20px 1px gray;
}

.btn:hover {
    background-color: var(--mau-xanh);
    color: var(--mau-trang);
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--mau-den);
    z-index: var(--z-fixed);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(207,207,207,0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(207,207,207,0.2);
    box-shadow: 0px 0px 20px 0px rgba(207,207,207,0.2);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width: 100%;
}

.nav__logo {
    display: flex;
    align-items: center;
    color: var(--mau-trang);
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.nav__humberger {
    cursor: pointer;
}


/* menu */

.nav__menu {
   opacity: 0;
   /* display: none; */
}

@media screen and (max-width:1150px) {
    .nav__menu {
        position: fixed;
        width: 70%;
        top: var(--header-height);
        right: -100%;
        opacity: 0;
        padding: 6rem 3rem 0;
        background-color: var(--mau-den);
        height: 100%;
        box-shadow:-2px 0 12px hsla(0, 0%, 0%, .2) ;
        transition: right .8s ease-out, opacity .8s ease;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;
}

.nav__item {
    position: relative;
    width: fit-content;
}



.nav__item a {

    color: var(--mau-trang-nhat);
    text-transform: uppercase;
    font-family: "Roboto", serif; 
    font-size: var(--h3-font-size);
}

/* Menu active */
.nav__active {

    height: 3px;
    background-color: var(--mau-xanh);
    border-radius: 1px;     
    text-align: center;
    width: 100%;
    left: 0;
    bottom:-.5rem;
    position: absolute;
    
}

.show-menu {
    right: 0;
    opacity: 1;
}

/* Home */

.home {
 
    width: 100%;
    background-color: var(--mau-den);
}

.home__left {
    position: absolute;
    width: 60px;
    left: -2rem;
 
}

.home__container {
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home__data {
   text-align: center;
}

.home__title {
    font-size: var(--h1-font-size);
    color:var(--mau-trang-nhat);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home__title span{
    color:var(--mau-xanh);

}

.home__subtitle { 
    color: var(--mau-trang-nhat);
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
    font-family: "Roboto", serif;;
}

.home__start {
    background-color: var(--mau-trang);
    padding: 1rem;
    border-radius: 1.5rem;
    width: fit-content;
    margin: auto;
    font-family: "Roboto", serif;
    transition: background-color .7s,  color .7s;
}

.home__start:hover {
    cursor: pointer;
    background-color: var(--mau-xanh);
    color: var(--mau-trang-nhat)
}

.home__start:hover .home__start-arrow {
    background-color:var(--mau-trang-nhat);
    color: var(--mau-den-nhat);
}

.home__start-arrow {
    background-color: var(--mau-den);
    color: var(--mau-trang-nhat);
    padding: .5rem;
    border-radius: 50%;
    margin-right: .25rem;
    transition: background-color .7s,  color .7s;
}

.home__brands {
    margin-top: 4rem;
}

.home__brands-title {
    color: var(--mau-xanh);
    font-size: var(--h3-font-size);    
    margin-bottom: .5rem;
}

.home__brands-list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: .5rem;
    /* justify-content: center;     */
}

.home__brands-list img {
    width: 100%;
    max-width: 7rem;
}

.home__img {   
    order: -1;  
    position: relative;
    min-height: 320px;       
}

.home__img img {    
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.home__img-center {
    width:200px ;
    /* max-width: 380px; */
}

.home__img-background {
    width: 360px;
    margin-right: 480px;
}

.home__circle2, .home__circle3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home__circle2 {
    width: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home__circle3 {
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Our Services */
.ourservices__container {
    margin-bottom: 3rem;
}

.ourservices__subtitle {
    color: var(--mau-xanh);
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 1rem;
}

.ourservices__title {
    color: var(--mau-den);
    font-size: var(--h1-font-size);
    text-align: center;
    text-shadow: 0 0 2px var(--mau-xam-nhat), 0 0 2px var(--mau-den-nhat);
}

.ourservices__data {
    margin-top: 2rem;   
}

.ourservices__card {  
    padding: 1rem;
    border-radius: 1rem;    
    transition: all 1.5s;
}

.ourservices__card-img-container {
   border-radius: 50%;
   background-color: var(--mau-den);
   width: 3rem;
   height: 3rem;   
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   transition: background-color 1.5s;
}

.ourservices__card-img {
    stroke: var(--mau-trang-nhat);
    width: 1.5rem;
    height: 1.5rem;
}


.invert__stroke {
    transition: stroke 1s;
}

.ourservices__card-data {
    margin-top: 2rem;
}

.ourservices__card-title {
    color: var(--mau-den);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
}

.ourservices__card-desc {
    color: var(--mau-den);
    margin-top: .5rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 1rem;
    font-size: var(--normal-font-size);
    font-family: "Roboto", serif;
}

/* Hover */ 
.ourservices__card:hover {
    background-color: var(--mau-den);
    cursor: pointer;
}

.ourservices__card-img-container {
    margin-top: 1rem;
    transition: background-color 1s;
}

.ourservices__card:hover .ourservices__card-img-container {

    background-color: var(--mau-trang-nhat);
}

.ourservices__card:hover .invert__stroke {
    stroke: var(--mau-den);    
}

.ourservices__card:hover h4, .ourservices__card:hover p {
    color: var(--mau-trang-nhat);
}

/* About us */
.aboutus {
    width: 100%;
    background-color: var(--mau-den);
    padding-block: 4rem;
    /* do có phần tử con .aboutus__img1,2,3 position absolute  nên ta cần khai báo 100vh*/
}

.aboutus__container {   
    justify-content: center;
    align-items: center;    
}

.aboutus__img {
    max-width: 320px;
    margin: auto;
}

.aboutus__img-card {
    display: flex;
    position: relative;
    min-width: 320px;
    min-height: 320px;
    justify-self: center;
   
    /* border: 1px solid #fff; */
    /* min-height: 360px;  */
    /* do có phần tử con .aboutus__img1,2,3 position absolute nên ta cần khai báo min-width*/
}


/*
.aboutus__img1,.aboutus__img2,.aboutus__img3 {
    width: 100%;
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 1rem;   
}


.aboutus__img3 {
    z-index:3;
    object-fit: cover;
    left: 2.5rem;
    top: 2rem;

}

.aboutus__img2 {
    z-index: 2;
    left: 1.25rem;
    top: 1rem;
    opacity: .5;
    object-fit: cover;
}

.aboutus__img1 {
    z-index: 1;
    left: .25rem;
    top: 0;
    opacity: .5;
    object-fit: cover;     

}*/

.aboutus__data {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* padding-bottom: 2.5rem; */
}

.aboutus__subtitle {
    color:var(--mau-xanh);
    font-size: var(--h2-font-size);
}

.aboutus__title {
    color:var(--mau-trang-nhat);
    font-size: var(--h1-font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutus__desc {
    color: var(--mau-trang-nhat);
    line-height: 1.2;
}

.aboutus__number {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 2.5rem;
}

.aboutus__number-company,.aboutus__number-revenue {
    color: var(--mau-xanh);
    text-align: center;
    font-size: var(--h2-font-size);
    font-family: "Roboto Serif", serif;
    margin-bottom: 1rem;
}

.aboutus__number span {
    color: var(--mau-trang-nhat);
}

.aboutus__start {
    margin-top: 2rem;
    background-color: var(--mau-trang);
    padding: 1rem;
    border-radius: 1.5rem;
    width: fit-content;
    margin: auto;
    font-family: "Roboto", serif;
    transition: background-color .5s ease, color .6s ease;
}

.aboutus__start:hover {
    cursor: pointer;
    background-color: var(--mau-xanh);
    color: var(--mau-trang-nhat)
}

.aboutus__start:hover .home__start-arrow {
    background-color: var(--mau-trang-nhat);
    color: var(--mau-den-nhat);
}


/* Process */

.process__subtitle {
    color: var(--mau-xanh);
    font-size: var(--h2-font-size);
    text-align: center;
}

.process__title {
    color: var(--mau-den);
    font-size: var(--h1-font-size);
    text-align: center;
    text-shadow: 0 0 2px var(--mau-xam-nhat), 0 0 2px var(--mau-den-nhat);
}

.process__data {
    margin-top: 1.5rem;
}

.process__card {
    /* padding: 1rem; */
    border-radius: 1rem;
    transition: all 1.5s;
}

.process__card-img {
    background-color: var(--mau-den);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;    
    padding: .75rem;
}

.process__card-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    /* display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: var(--mau-den);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: background-color 1.5s; */
}

.process__card-title {
    color: var(--mau-den);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin-top: 1.25rem;
}

.process__card-desc {
    color: var(--mau-den);
    margin-top: 1rem;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 1rem;
    font-size: var(--normal-font-size);
}


/* Recent */
.recent__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
    color: var(--mau-den);
    /* font-family: "Roboto Serif", serif; */

}

.recent__data {
    row-gap: 5rem;
}

.recent__data-left {
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

.recent__data-right {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    /* padding-top: 1rem; */
    align-items: end;    
}

.recent__card-img {
    width: 100%;
}

.recent__card-title {
    color: var(--mau-den-nhat);
    margin-top: 1rem;
    margin-bottom: .25rem;
    text-align: center;
    /* font-family: "Roboto Serif", serif; */
}

.recent__card-desc {
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    text-align: center;
}

.recent__start {
    margin-top: 2rem;
    background-color: var(--mau-den);
    padding: 1rem;
    border-radius: 1.5rem;
    width: fit-content;
    margin: auto;
    color: var(--mau-trang-nhat);
    font-family: "Roboto", serif;
    
    /* 
    family-name - The name of a font-family, like "times", "courier", "arial", etc.
    generic-family - The name of a generic-family, like "serif", "sans-serif", "cursive", "fantasy", "monospace".
    cơ chế dự phòng khi không có fnt Roboto dùng fnt Serif
    */
}

.recent__start-arrow {
    background-color: var(--mau-trang-nhat);
    color: var(--mau-den-nhat);
    padding: .5rem;
    border-radius: 50%;
    margin-right: .25rem;
}

/* Testimonial */
/* .testimonial {

    padding-block: 3rem 3rem;
} */


.testimonial__img {
    /* text-align: center; */
    margin: auto;
    margin: 2rem auto;
}

.testimonial__desc {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: var(--font-semi-bold);
}

.testimonial__name {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin-bottom: .5rem;
}

.testimonial__position {
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    text-align: center;
}


/* Swiper class */
.swiper {
    margin-inline:initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    top: initial;
    /* bottom: 0; */
    font-size: 1.5rem;
    color: var(--mau-den);
    /* border-radius: 50%; */
    border: 1px solid #000;
    width: initial;
    height: initial;
    border-radius: 50%;
    padding: .25rem 0.3rem;
    transition: background-color .5s, color .5s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--mau-den);
    color: var(--mau-trang-nhat);
}

/* mặc định trên màn hình điện thoại */
.swiper-button-prev {
    /* left: calc(40% - 1rem); */
    left: 0;
    /* bottom: 0;     */
    bottom: 50%;
}

.swiper-button-next {
    /* right: calc(40% - 1rem); */
    /* bottom: 0; */
    right: 0;
    bottom: 50%;
}

.swiper-nav {
    /* margin-top: 4rem; */
    /* canh cho màn hình có độ phân giải lớn */
}

/* Footer */
.footer {
    width: 100%;
    background-color: var(--mau-den);
    color: var(--mau-trang-nhat);
    padding-block: 3rem 2rem;
}

.footer__container {
    row-gap: 3rem;
    /* justify-content: center; */
}

.footer__data {
    text-align: center;
    align-items: center; 
    gap: 3rem;
    /* margin-bottom:2rem; */
    /* grid-template-columns: repeat(2,2fr); */
}

.footer__logo {
    color: var(--mau-trang-nhat);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.footer__desc {
    margin-top: 1rem;

    font-family: "Roboto", serif;
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.footer__link {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.footer__link a { 
    color: var(--mau-trang-nhat);
    font-size: var(--normal-font-size);
    font-family: "Roboto", serif;
    transition: color .6s ease;
}

.footer__link a:hover { 
    color: var(--mau-xanh);
}

.footer__subscrice {
    background-color: var(--mau-trang-nhat);
    border-radius: 2rem;
    padding: .5rem;
    width: 320px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width:400px;
}

.footer__subscrice-email {
    border: none;
    padding:.5rem;
    border-radius: 1rem;
    background-color: var(--mau-trang-nhat);
    outline: none;  
    font-family: "Roboto", serif;
}

.footer__btn {
    color: var(--mau-trang-nhat);
    background-color: var(--mau-den-nhat);
    padding:.75rem 1rem;
    border-radius: 2rem;
    font-family: "Roboto", serif;
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    transition: background-color .5s ease;
}

.footer__btn:hover {
    background-color: var(--mau-xanh);
}


.footer__information { 
    border-top: 1px solid #fff;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.footer__information-title {
    font-size: var(--h3-font-size);
    padding: 1rem 0px;
}

.footer__information li {
    font-family: "Roboto", serif;
    font-size: var(--normal-font-size);
}

.footer__social {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    margin: auto;
    transition: all 2s;
}

.footer__social-fb,.footer__social-instagram, .footer__social-linked {
    color: var(--mau-den-nhat);
    background-color: var(--mau-trang-nhat);
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s, color .5s;
}

.footer__social-fb:hover, 
.footer__social-instagram:hover, 
.footer__social-linked:hover  {
    color: var(--mau-trang-nhat);
    outline: 2px solid var(--mau-trang-nhat);
    background-color: var(--mau-den-nhat);
    cursor: pointer;
}

/* Breakpoint Media Queries  */
/* For small devices */
/* @media screen and (max-width:300px){

	.container {
		margin-inline: 1.5rem;
	}
} */


/* For medium devices */
@media (min-width:576px) {

    .home__container {
        grid-template-columns:440px;
    }

    .home__left {
        left: 10rem;      
        bottom: 42%;
    }

    .home__data {
        padding-block: 6rem 2rem;

    }

    .home__img {
        top: 6rem;
        min-height: 440px;
    }
    
    .home__img-center {
        width: 280px;
    }

    .home__title {

        line-height: 1.2;
    }

    .home__subtitle {
        line-height: 1.4;
    }

    .ourservices__data,.process__data {

        grid-template-columns: repeat(2,1fr);
    }

    .home__img-background {
        width: 500px;
        margin-right: 500px; 
    }
        
    .home__circle2 {
        width: 340px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
       
    .home__circle3 {
        width: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .aboutus__img {
        max-width: 420px;
    }

    /* .aboutus__img-card {
        min-width: 400px;
    }

    .aboutus__img3, .aboutus__img2,.aboutus__img1 {
        width: 360px;
    } */

    .aboutus__desc {
        width: 440px;
    }

    .aboutus__title {
        width: 420px;
        margin: auto;
        padding-bottom: 2rem;
    }

    .process__card-title {
        margin-top: 0;
    }
    
    .footer__container {
        margin-bottom: 2rem;
    }

    .footer__data {
        grid-template-columns: repeat(2,1fr);
        text-align: left;
    }

    .footer__subscrice {       
       width: 440px;
       margin: initial;
    }
}

@media (min-width:768px) {
    .home__left {
        left: -1rem;
        top: 20%;

    }

    .home__container {
        grid-template-columns: repeat(2,1fr);
    }

    .home__data {
        order: -1;
        text-align: left;
    }

    .home__title {
        font-size: var(--h2-font-size);
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .home__img {
        top: 2rem;
    }

    .home__start {
        margin: initial;
    }

    .home__img-center {
        width: 250px;
    }

    .home__circle2 {
        width: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .home__circle3 {
        width: 350px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .home__brands-list img {
        max-width: 5rem;
    }

    .ourservices__card-img-container {
        margin: initial;
        width: 4.5rem;
        height: 4.5rem;
    }

    .ourservices__card-data {
        margin-top: 1.25rem;
    }
    
    .ourservices__card-desc,.ourservices__card-title {
        text-align: left;
    }

    .ourservices__card-desc {
        /* max-width: 340px; */
        margin: auto;
        padding-top: .5rem;
    }

    .aboutus__container {
        grid-template-columns: repeat(2,1fr);
    }

    .aboutus__img {
        width: 100%;
        /* Lưu ý chỗ này */
    }

    .aboutus__data {
        text-align: left ;
    }

    /* phải giảm kích thước fnt để  */
    .aboutus__subtitle {
        font-size: var(--h3-font-size);
        padding-bottom: 1rem;
    }

    .aboutus__title {
        font-size: var(--h1-font-size);
        margin: initial;
        /* max-width: 350px; */
        width: 100%;
    }

    .aboutus__desc {
        font-size:var(--normal-font-size);
        /* max-width: 350px;  */
        width: 100%;
    }

    .aboutus__number {
        justify-content: start;
        padding-bottom: 2rem;
    }

    .aboutus__number-company,.aboutus__number-revenue {
        text-align: left;
    }

    .aboutus__start {
        margin: initial;
        
    }

    .process__card-img-container {
        justify-content: initial;
    }

    .process__card-title {
        margin-top: 0;
    }

    .process__card-desc {
        font-size: var(--normal-font-size);
        max-width: 350px;
        /* margin: auto; */
        padding-top: 1rem;
        text-align: left;
    }
    
    .recent__data {
        grid-template-columns: repeat(2,1fr);
    }

    .recent__start {
        margin: initial;
        margin-top: 2rem;
    }
   
    .swiper-nav {
        margin-top: 4rem;
    }

    .swiper-button-prev {
        left: calc(45%);
        bottom: 0;    
    
    }
    
    .swiper-button-next {
        right: calc(45%); 
        bottom: 0;    
    }

    .footer {
        margin-top: 3rem;
    }

    .footer__data {
        grid-template-columns: repeat(2,1fr);
        text-align: left;
    }

    .footer__information {
        grid-template-columns: repeat(3,1fr);
        text-align: left;padding-top: 1.25rem;
    }

    .footer__social {
        margin: initial;
    }
}

@media (min-width:1024px) {


    .nav__humberger {
        display: none;
    }

    .nav__menu {
        position: initial;
        opacity: 1;
        padding: 0;
        /* align-items: center;
        justify-content: center; */
    }

    .nav__item a {
        font-size: var(--normal-font-size);
        text-transform: capitalize;
    }

    .nav__list {
        /* Lưu ý chỗ này phải bỏ align items center 
        vì underline của gsap làm menu item đẩy lên cao */

        align-items: center;
        /* margin-top: 2rem; */
        height: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 2.5rem;
        justify-content: center;
    }   

    .home__container {
        padding-bottom: 1rem;
    }

    .home__img-center {
        width: 270px;
    }

    .home__circle2 {
        width: 330px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .home__circle3 {
        width: 380px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .home__brands-list img {
        max-width: 6rem;
    }

    .process__data {
        grid-template-columns: repeat(4,1fr);
    }
  
    .ourservices__data {
        grid-template-columns: repeat(3,1fr);
    }

    .aboutus__desc {
        max-width: initial;
    }

    .testimonial__desc {
        max-width: 800px;
        padding-bottom: 1rem;
        margin: auto;
        
    }

    .swiper-button-prev {
        left: calc(46%);
        bottom: 0;    
    
    }
    
    .swiper-button-next {
        right: calc(46%); 
        bottom: 0;    
    }

    .footer__container {
        grid-template-columns:repeat(3,1fr) ;
        align-items: start;
        justify-content: space-between;
    }

    .footer__logo {
        font-size: var(--h3-font-size);
    }

    .footer__desc {
        font-size: var(--normal-font-size);
        max-width: 280px;
    }

    .footer_link {
        font-size: var(--normal-font-size);
    }

    .footer__subscrice {
        width: auto;
    }

    .footer__information {
        grid-template-columns: repeat(4,1fr);
        text-align: left;
        padding-top: 1rem;
    }

    .footer__information-title  {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width:1150px) {

    .container {
        margin-inline: auto;
    }

    .header {
        height: calc(var(--header-height) + 1rem);

    }

    .home__left {
        left:-2rem;
        top:5rem;
    }
}

